<nav class="navbar navbar-expand-lg navbar-light bg-light mx-3">
    <a href="/" class="m-1" >
        <img style="width:100px " src="~/Content/img/logo.png" alt="" />
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/Recipes">Foods<span class="sr-only">(current)</span></a>
            </li>
            @if (User.IsInRole("IsAdmin"))
            {
                <li class="nav-item ">
                    <a class="nav-link" href="/Categories">Manage Categories<span class="sr-only">(current)</span></a>
                </li>
            }
            <li class="nav-item ">
                <a class="nav-link" href="/About">About us <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/Contact">Contact <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <span class="mx-2">
            @Html.Partial("_LoginPartial")
        </span>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>