@model TastyMVC.ViewModels.HomePageViewModel
@{
    ViewBag.Title = "Home Page";
}
<div class="container">

    <div class="row">
        <div class="col-md-3 my-2">
            @{
                Html.RenderPartial("~/Views/Recipes/_RecipeCategoryList.cshtml", Model.CategoryViewModel);
            }
        </div>

        <div class="col-md-9">

            <div class="row">
                @if (Model.PublishedRecipes != null)
                {



                    foreach (var recipe in Model.PublishedRecipes)
                    {
                        <div class="col-12 col-lg-4 col-md-6 col-sm-6 my-2">
                            @{
                                Html.RenderPartial("~/Views/Recipes/_RecipeCard.cshtml", recipe);
                            }
                        </div>

                    }
                }
                else
                {
                    <div class="alert alert-secondary  my-2" role="alert">
                       No recipe sorry. Maybe order a take out!?
                    </div>
                }
            </div>

        </div>
    </div>
</div>